extends layout

block content
    //- h1= title
    //- p Welcome to #{title}
    #home.layoutHome
       #headerWrapper
          header.masthead
             #siteLogo
       //- #test
          //- img(id="homebg")
