extends layout

block content
    //- h1= title
    //- p Welcome to #{title}
    #home.layoutHome
       #headerWrapper
          header.masthead
             #siteLogo
               h1
                  a(href="http://www.ironman.com/")= IRONMAN
             nav.siteNav
                ul
                   li: a(href="http://www.ironman.com/events/triathlon-races.aspx") Races
                   li: a(href="http://www.ironman.com/events/triathlon-races.aspx") Training
       //- #test
          //- img(id="homebg")
