<html>
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css'>
   <script>
   </script>
</head>
</head>
<body>
   <div id='home' class='layoutHome'>
      <div id='headerWrapper'>
         <header class='masthead'>
            <div id='siteLogo'>
               <h1>
                  <a href='http://www.ironman.com'>IRONMAN</a>
               </h1>
            </div>
            <nav class='siteNav'>
               <li><a href='http://www.ironman.com/events/triathlon-races.aspx'>Races</a></li>
               <li><a href='http://www.ironman.com/events/triathlon-races.aspx'>Training</a></li>
            </nav>
         </header>
      </div>
   </div>
</body>
</html>
