<html>
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css'>
   <script>
      function InitFocus() {
         document.getElementById('loginUsername').focus();
      }
   </script>
</head>
<body onload='InitFocus()'>
   <header>
      <div id='headerdiv'>
         <form method='post' action='/login'>
            <label for='loginUsernameX'>Username:</label>
            <input id='loginUsernameX' type='text' name='username'></input>
            <label for='loginPasswordX'>Password:</label>
            <input id='loginPasswordX' type='password' name='password'></input>
            <input id='loginButtonX' type='submit' value='Login'/>
            <a href='/forgotpassword' style='margin: 0 40px'>Forgot Password?</a>
            <a href='/account'>Create Account</a>
         </form>
      </div>
   </header>
   <div id='logindiv'>
      <form method='post' action='/login'>
         <div id='loginUsernamePasswordDiv'>
            <p>
               <label for='loginUsername' class='rightAlignedLabel'>Username:</label>
               <input id='loginUsername' type='text' name='username'></input>
            </p>
            <p>
               <label for='loginPassword' class='rightAlignedLabel'>Password:</label>
               <input id='loginPassword' type='password' name='password'></input>
            </p>
         </div>
         <p>
            <input id='loginButton' type='submit' value='Login'/>
         </p>
      </form>
   </div>
</body>
</html>
