extends layout

block append script
   script.
      function InitFocus() { 
         document.getElementById('loginUsername').focus();; 
      }

   block body
   body(onload='InitFocus()')

      block content
      header
         #headerdiv(style="height:30px; width:100%; background-color:#08298A;")
      #logindiv
         form(method='post' action='/login')
            #loginUsernamePasswordDiv
               p
                  label(for='loginUsername' class='rightAlignedLabel') Username:
                  input(id='loginUsername' type='text' name='user[name]')
               p
                  label(for='loginPassword' class='rightAlignedLabel') Password:
                  input(id='loginPassword' type='password' name='user[password]')
            p
               input(id='loginButton' type='submit' value='Login')
