
/* For Debugging */

html, body {
   margin: 0px;
   padding: 0px;
}

div {
   border: solid 1px red;
}

ul {
   border: solid 1px yellow;
}

li {
   border: solid 1px blue;
}

a {
   border: solid 1px green;
   text-decoration: none;
   color: #FFF;
}

ul li {
	list-style: none;
}

/* Header */

#headerdiv {
   height: 30px;
   width: 100%;
   background-color:#08298A;
}

/* Login Page */

#logindiv {
   text-align: center;
   margin: auto;
}

#loginUsernamePasswordDiv {
   display: inline-block;
   text-align: right;
   margin: auto;
}

.rightAlignedLabel {
   padding: 0 5px 0 0;
   text-align: left;
   display: inline;
}

#loginUsername {
   width: 100px;
   display: inline-block;
}

#loginPassword {
   width: 100px;
   display: inline-block;
}

#loginButton {
   width: 100px;
   display: block;
   padding: 50px 0 0 0;
   margin: 0 auto;
}

/* Account Page */

.accountInput {
   width: 200px;
   display: inline-block;
   text-align: left;
}

.accountLabel {
   text-align: left;
   display: inline-block;
   width: 150px;
}

#homebg {
   background: url("/images/imbg.jpg");
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
}

.masthead {
   height: 76px;
   margin: 0 auto;
   width: 1260px;
}

.layoutHome .masthead {
	height: 97px;
	margin: 0 auto;
	width: 1260px;
}

#headerWrapper {
	background: transparent url("/images/main_nav_bg_1x97.png") repeat-x center bottom;
	border-top: solid 5px #DC0025;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 50;
}

#siteLogo {
	background: url("/images/logo_ironman_white_150x40.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 40px;
	margin: 15px 16px 0 65px;
	width: 150px;
	text-indent: -4000px;
}

.layoutHome #siteLogo {
	background: url("/images/logo_235x80.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 80px;
	margin: 7px 16px 0 65px;
	width: 235px;
	text-indent: -4000px;
}

.siteNav {
	float: right;
	height: 76px;
}

.layoutHome .siteNav {
	float: right;
	height: 90px;
}

.siteNav ul {
	display: block;
	height: 30px;
}

.siteNav ul li {
	float: left;
/*	margin: 26px 0 0 0; */
	height: 62px;
}

.layoutHome .siteNav ul li {
	float: left;
	/* margin: 35px 0 0 0; */
	height: 62px;
}

.siteNav ul li a {
	color: #FFF;
	display: block;
	font-size: 18px;
	font-family: 'Titillium-Thin', Arial, sans-serif;
	line-height: 18px;
	text-transform: uppercase;
	padding: 10px 12px 0 14px;
}

.layoutHome .siteNav ul li a {
	color: #FFF;
	display: block;
	font-size: 21px;
	font-family: 'Titillium-Thin', Arial, sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	padding: 10px 12px 0 14px;
}
