body {
/*  padding: 50px; */
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00B7FF;
}

#homebg {
   background: url("/images/imbg.jpg");
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
}

.masthead {
   height: 76px;
   margin: 0 auto;
   width: 1260px;
}

html, body {
   margin: 0px;
   padding: 0px;
}


.layoutHome .masthead {
	height: 97px;
	margin: 0 auto;
	width: 1260px;
}

#headerWrapper {
	background: transparent url("/images/main_nav_bg_1x97.png") repeat-x center bottom;
	border-top: solid 5px #DC0025;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 50;
}

#siteLogo {
	background: url("/images/logo_ironman_white_150x40.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 40px;
	margin: 15px 16px 0 65px;
	width: 150px;
	text-indent: -4000px;
}
